@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap');

/* Global Styles */
:root {
    --purple: #5f2280; 
    --green: #1d9537;
    --lightgreen: rgba(29, 149, 55, .5);
}
.text-primary {
    font-family: 'Raleway', sans-serif;
    color: #000 !important;
}
body{
    font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: var(--green);
}
::selection{
    background-color: var(--lightgreen);
}


/* End of Global Styles */

/* Header Styles */
.navbar{
    background-color: #fff;
    width: 100%;
}
.img-logo{
    width: 100%;
    max-width: 260px;
}
.nav {
    gap: 0p;
    /* flex-direction: column; */
}
.nav-item{
    margin-right: 6px;
}
.menu-link{
    display: inline-block;
    width: 100%;
    position: relative;
}
.menu-link::after{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: var(--purple);
    bottom: 10px;
    left: 0;
    transition: .2s;
}
.menu-link:hover::after{
    width: 100%;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* End of Header Styles */

main{
    position: relative;
}


/* Footer Styles */
.footer-flex{
    background-color: #fff;
    gap: 26px;
}

.footer-flex > div{
    flex: 1;
}
.go-up-link{
    font-size: .8em;
}

.footer-links > a:hover i.fa-brands{
    color: var(--purple);
}
/* End of Footer Styles */


.projects-grid{
     margin-bottom: 300px;
}


@media screen and (max-width: 992px) {
    .menu-link:hover, .menu-link:active, .menu-link:focus{
        color: var(--purple) !important;
    }
    .nav-show-icon{
        /* font-size: 2em; */
        color: #000;
    }
    .nav-show-icon:hover,
    .nav-show-icon:active,
    .nav-show-icon:focus{
        color: var(--green);
    }
}

.shop-presentation{
    display: none;
}
.pagination{
    --bs-pagination-color: #000;
    --bs-pagination-hover-color: var(--green);
    --bs-pagination-hover-bg: #fff;
    --bs-pagination-focus-bg: #fff;
}
.page-link.active{
    background-color: var(--green);
    border: 0;
    box-shadow: none;
}
