@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap');

/* Global Styles */
:root {
    --purple: #5f2280; 
    --green: #1d9537;
    --lightgreen: rgba(29, 149, 55, .5);
}
.text-primary {
    font-family: 'Raleway', sans-serif;
    color: #000 !important;
}
body{
    font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: var(--green);
}
::selection{
    background-color: var(--lightgreen);
}


/* End of Global Styles */

/* Header Styles */
.navbar{
    background-color: #fff;
    width: 100%;
}
.img-logo{
    width: 100%;
    max-width: 260px;
}
.nav {
    gap: 0p;

}
.nav-item{
    margin-right: 6px;
}
.menu-link{
    display: inline-block;
    width: 100%;
    position: relative;
}
.menu-link::after{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: var(--purple);
    bottom: 10px;
    left: 0;
    transition: .1s;
}
.menu-link:hover::after{
    width: 100%;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
@keyframes rotateAnimation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}
.nav-show-icon:hover{
    animation-name: rotateAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
/* End of Header Styles */

main{
    position: relative;
}


/* Footer Styles */
.footer-flex{
    background-color: #fff;
    gap: 26px;
}

.footer-flex > div{
    flex: 1;
}
.go-up-link{
    font-size: .8em;
}

.footer-links > a:hover i.fa-brands{
    color: var(--purple);
}
/* End of Footer Styles */


.projects-grid{
    margin-bottom: 300px;
}


@media screen and (max-width: 992px) {
    .menu-link:hover, .menu-link:active, .menu-link:focus{
        color: var(--purple) !important;
    }
    .nav-show-icon{
        /* font-size: 2em; */
        color: #000;
    }
    .nav-show-icon:hover,
    .nav-show-icon:active,
    .nav-show-icon:focus{
        color: var(--green);
    }
}


/* SHOP page styles */
.shop-presentation{
    display: none;
}
.pagination{
    --bs-pagination-color: #000;
    --bs-pagination-hover-color: var(--green);
    --bs-pagination-hover-bg: #fff;
    --bs-pagination-focus-bg: #fff;
}
.page-link.active{
    background-color: var(--green);
    border: 0;
    box-shadow: none;
}
.card-text{
    font-size: .8em;
}

.shop-presentation a.btn{
    padding: 0;
    border: none;
    font-size: .8em;
    position: relative;
}
/* .shop-presentation a.btn:hover,
.shop-presentation a.btn:active,
.shop-presentation a.btn:focus{

} */

.shop-presentation a.btn::after{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: var(--purple);
    bottom: 0px;
    left: 0;
    transition: .2s;
}
.shop-presentation a.btn:hover::after{
    width: 100%;
}
.cover-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3em;
    
}
.cover-link-div{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    flex-direction: column;
    justify-content: center;
    display: none;
}

.cover-link:hover .cover-link-div{
    
    display: flex;
}
/* End of SHOP page styles */

/* CONTACT page */
.form-label{
    margin-bottom: 0;
}
.form-control{
    border: 1px solid #777;
    border-radius: 0;
}
.form-control:focus, .form-control:active{
    border-color: var(--purple);
    /* box-shadow: none; */
    box-shadow: 0 0 2px var(--purple);
}
.contact-btn{
    width: 100%;
    max-width: 260px;
    background-color: #fff;
    padding: .375rem .75rem;
    border: 1px solid #777;
    border-radius: 0;
}
.contact-btn:hover,
.contact-btn:active,
.contact-btn:focus{
    background-color: var(--purple);
    color: #fff;
}

.form-control-message{
    flex-grow: 1;
}

@media screen and (max-width: 992px) {
    textarea.form-control-message{
        min-height: 250px;
    }
}
/* End of CONTACT page */

/* PROJECTS page */
.projects-heading{
    top: 30%;
    animation-name: fadeText;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes fadeText{
    0%{
        transform: translateX(-200px);

    }
    100%{
        transform: translateX(0);
    }
}